@model Surrogat.Areas.Issuer.ViewModels.OverviewViewModel

@{
    ViewBag.Title = "Overview";
    Layout = "~/Areas/Issuer/Views/Shared/_Layout.cshtml";
}

<h2>Overview</h2>

<div class="CentralBankView">
	<div class="Toolbar">
		<a href="Buy?amount=10">+ 10</a>
		<a href="Buy?amount=50">+ 50</a>
		<a href="Buy?amount=100">+ 100</a>
	</div>
	<table class="table">
		<thead>
		<tr>
			<th>Value</th>
			<th>Count</th>
			<th>Total</th>
		</tr>
		</thead>
		<tbody>
		@if (Model.Bills.Any())
		{
			foreach (var amountGroup in Model.Bills.GroupBy(be => be.Amount))
			{
				<tr>
					<th>@amountGroup.Key</th>
					<td>@amountGroup.Count()</td>
					<td>@amountGroup.Sum(be => be.Amount)</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="3">
					<i>no money, no problems...</i>
				</td>
			</tr>
		}
		</tbody>
		<tfoot>
		<tr>
			<td>-</td>
			<td>@Model.Bills.Count()</td>
			<td>@Model.Bills.Sum(be => be.Amount)</td>
		</tr>
		</tfoot>
	</table>
</div>
<div class="AccountsView">

	<table class="table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Alias</th>
			<th>Name</th>
			<th>Created On</th>
			<th>Debt</th>
		</tr>
		</thead>
		<tbody>
			@foreach (var account in @Model.Accounts)
			{
				<tr>
					<td>@account.Id</td>
					<td>@account.Alias</td>
					<td>@account.Name</td>
					<td>@DateTime.Now.ToString("s")</td>
					<td>CHF @account.Debt.ToString("F")</td>
				</tr>
			}
		</tbody>
	</table>
</div>

