<div class="jumbotron">
    <h2><img src="@Url.Content("~/Images/centralBank.png")" />@Html.ActionLink("CentralBank", "index", "Bank", new { Area = "CentralBank" }, null)</h2>
</div>

<div class="jumbotron">
    <h2><img src="@Url.Content("~/Images/issuer.png")" />@Html.ActionLink("Issuer", "index", "Overview", new { Area = "Issuer" }, null)</h2>
</div>

<div class="jumbotron">
    <h2><img src="@Url.Content("~/Images/person.png")" />@Html.ActionLink("Person", "index", "Person", new { Area = "Person", PersonId = 1 }, null)</h2>
</div>
