@model Surrogat.Areas.Issuer.Models.AccountBE

<div class="panel panel-default">
    <div class="panel-heading"><a href="@Url.Action("index", "person", new {Area = "Person", PersonId=@Model.Id})">
    <img width="24" src="@Url.Content("~/Images/person.png")" />
</a>
        Name: @Model.Name / @Model.Alias (@Model.Id)
    </div>
    <div class="panel-body">
        <p>Saldo: <strong>CHF @Model.Debt.ToString("F")</strong></p>
    </div>
</div>
