@model Surrogat.Areas.CentralBank.ViewModels.BillListViewModel

<table class="table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Issued</th>
            <th>Amount (CHF)</th>
            <th>Cashed</th>
            <th>Token</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bill in @Model.Bills.OrderByDescending(b => b.Serial))
        {
            <tr @(bill.CashedDate != null ? "class=success" : string.Empty)>
                <td>@bill.Serial</td>
                <td>@bill.IssuedDate</td>
                <td class="text-right">@bill.Amount</td>
                <td>@bill.CashedDate</td>
                <td>@bill.Token</td>
            </tr>
        }
    </tbody>
</table>
